body
{
	background-color: black;
	background-image: url(images/bg.jpg);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	color: white;
}


a
{
	color: white;
}

#presentation
{
	display: block;
	background: url(images/divbg.png);
	position: relative;
	width: 800px;
	margin: 10px 0 10px 250px;
}

#presentation h1
{
	display: block;
	float: left;
	margin: 45px 0 0 300px;
	position: relative;
	text-shadow: black 0em 0.1em 0.1em;
	font-size: 28px;
	letter-spacing: 0.2em
}

li
{
	list-style-image: url(images/puce.png);
}

ol
{
	margin: 0 0 27px 50px;
}

#fonction
{
	padding: 10px 0 10px 10px;
	display: block;
	float: left;
	margin: 50px 0 10px 300px;
	position: relative;
	background-color: grey;
	width: 600px;box-shadow: 1px 0px 8px #000000;
	border-top: 1px solid #bababa;
	border-radius: 3px;
	margin-bottom: 20px;
}

#fonction h2
{
	font-size: 17px;
	font-style: italic;
	display: block;
	float: left;
	margin: 0 0 0 150px;
}

#fonction span
{
	padding: 0 0 0 40px;
}

